http_bind_addr=0.0.0.0:8080
db_pg_url=postgresql://rust_admin:rust_pass@localhost:5432/rust_shop
eth_ws_addr=ws://127.0.0.1:8546
eth_tx_fetch_rpc_timeout=100ms
enable_http_service=true
start_block_number=0
log_level=debug
queue_size=1000